body {
    margin: 0;
    padding: 0;
    font-family:'Roboto','Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #000000;
    background-color: #849d8f;
}
.main-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* img {
    max-width: 100%;
    height: auto;
} */
.red-button {
    display: inline-block;
    padding: 8px 22px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}
.red-button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.red-button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.red-button.slide-button {
    display: inline-block;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}
.slide-button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.main-header {
    display: flex;
    flex-wrap: wrap;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 100px;
    align-items: center;
    border: 1px solid black;
    position: absolute;
}
.user-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 349px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.nav-list > li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}
.nav-list a {
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
    color: #ffffff;
    font-weight: bold;
}
.nav-list .sub-menu {
    position: absolute;
    flex-wrap: wrap;
    display: none;
    box-sizing: border-box;
    width: 143px;
    height: 171px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.nav-list .sub-menu a {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: -1px;
    color: #323232;
    font-weight: 400;
}
.nav-list > li:hover .sub-menu {
    display: block;
}
.sub-menu a:hover {
    background-color: #fbded7;
    border: none;
}
.sub-menu a:active {
    background-color: #f6b5a5;
}
.new {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 6px;
    margin-top: 6px;
}
.main-logo {
    position: absolute;
}
.enter {
    position: relative;
    text-decoration: none;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    width: 93px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color:#ffffff;
}
.enter-menu:hover .sub-menu-enter{
    display: flex;
}
.sub-menu-enter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 277px;
    min-height: 214px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 19px;
    position: absolute;
    display: none;
}
.sub-menu-enter input{
    width: 241px;
    height: 44px;
    border: solid 1px #d3d3d2;
    border-radius: 5px;
    color: #999999;
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 14px;
    margin-bottom: 20px;
}
.sub-menu-enter-wrap {
    display: flex;
    margin: auto;
}
.registration {
    text-decoration: none;
    text-decoration: underline;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    color: #323232;
}
.submit-button {
    margin-right: 20px;
}
.search-menu:hover .search{
    display: flex;
}
.search-button {
    position: relative;
    width: 33px;
    height: 33px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    color:#ffffff;
}
.search {
    display: flex;
    position: absolute;
    width: 341px;
    height: 84px;
    background-color: #f8f7f4;
    border-radius: 5px;
    display: none;
    left: 1px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.search-input {
    width: 311px;
    height: 44px;
    display: block;
    box-sizing: border-box;
    margin: auto;
    border: solid 1px #d3d3d2;
    border-radius: 5px;
    color: #999999;
    background-color: #ffffff;
    padding-left: 15px;
}
.basket-button {
    width: 100px;
    height: 33px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    color:#ffffff;
}
.slider-section {
    margin-top: auto;
}
.site-wrapper {
    min-width: 940px;
    background-color: #849d8f;
    background-image: url("../img/Cream-brule-Slider.png");
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/Chocolate-plombir-Slider.png");
}
.site-wrapper::after {
  background-image: url("../img/Strawberry-plombir-Slider.png");
}
.container {
    width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
.slider {
    position: relative;
    padding-top: 321px;
    text-align: center;
    color: #ffffff;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide-title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
}
.slider-controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.slider-controls {
    position: absolute;
    bottom: 63px;
    left: 0;
    z-index: 20;
    font-size: 0;
}
.slide {
    display: none;
}
#product-1:checked ~ .site-wrapper {
    background-color: #849d8f;
    background-image: url("../img/Cream-brule-Slider.png");
}
#product-2:checked ~ .site-wrapper {
    background-color: #8996a6;
    background-image: url("../img/Chocolate-plombir-Slider.png");
}
#product-3:checked ~ .site-wrapper {
    background-color: #9d8b84;
    background-image: url("../img/Strawberry-plombir-Slider.png");
}  
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.promo {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    min-height: 230px;
    margin: auto;
}
.promo h2 {
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    margin: 0;
    color: #ffffff;   
}
.promo p{
    width: 512px;
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}
.promo .free-chocolate {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 229px;
    box-sizing: border-box;
    padding: 20px;
    background-image: url('../img/Chocolate-background.png');
    background-repeat: no-repeat;
}
.promo .free-raspberries {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 229px;
    padding: 20px;
    box-sizing: border-box;
    background-image: url('../img/Raspberries-back.png');
    background-repeat: no-repeat;
}
.promo button {
    margin-left: auto;
}
.catalog-main {
    display: flex;
    justify-content: space-around;
    width: 1200px;
}
.catalog-items {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    min-height: 402px;
    padding: 0;
    margin: 0;
}
.catalog-item {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-wrap: wrap;
    width: 293px;
    text-align: center;
    position: relative;
    margin-top: 30px; 
    margin-bottom: 95px;
    z-index: 1;
}
.catalog-item-wrap {
    z-index: 2;
    width: 285px;
    position: absolute;
    top: 6px;
    margin: auto;
}
.hit {
    position: absolute;
    z-index: 3;
    margin-left: auto;
}
.catalog-item h3 {
    margin: 0;
}
.item-title {
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    width: 251px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.catalog-item-wrap .price {
    position: absolute;
    color: #ffffff;
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
    z-index: 2;
    bottom: 70px;
    left: 10px;
}
.catalog-item button{
    display: none;
    bottom: 0;
    position: absolute;
    margin: auto;
    bottom: 22px;
    left: 46px;
}
.catalog-item:hover button {
    display: block;
}
.catalog-item:hover .background-wrap{
    display: block;
}
.background-wrap {
    width: 285px;
    min-height: 405px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: rgb(248, 247, 244, 0.4);
    min-height: 405px;
    z-index: 0;
    display: none;
}
.about {
    width: 1146px;
    min-height: 306px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    box-sizing: border-box;
    background-image: url(../img/Waffle-background.png);
    background-repeat: no-repeat;
    padding: 19px;
    margin-bottom: 40px;
}
.about h2 {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    width: 1013px;
    margin: 0;
}
.about ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    width: 1146px;
}
.about li {
    display: inline-block;
    width: 476px;
    min-height: 61px;
    font-size: 16px;
    line-height: 22px;
    position: relative;
}
.about li:first-child, .about li:nth-child(3){
    margin-right: 50px;
}
.about-icecream::before {
    content: "";
    display: block;
    background: url("../img/Icons/icecream.svg") no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    left: -60px;
    top: 5px;
    z-index: 2;
}
.about-farm::before {
    content: "";
    display: block;
    background: url("../img/Icons/cow.svg") no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    left: -60px;
    top: 5px;
    z-index: 2;
}
.about-milk::before {
    content: "";
    display: block;
    background: url("../img/Icons/leavs.svg") no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    left: -60px;
    top: 5px;
    z-index: 2;    
}
.about-pack::before {
    content: "";
    display: block;
    background: url("../img/Icons/temperature.svg") no-repeat;
    width: 49px;
    height: 49px;
    position: absolute;
    left: -60px;
    top: 5px;
    z-index: 2;    
}
.article-wrap {
    width: 1146px;
    min-height: 220px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}
.news {
    width: 560px;
    min-height: 220px;
    background-image: url(../img/Strawberrys-background.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 19px;
}
.news h3 {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin: 0;
}
.news a {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: underline;
    color:#323232;
}
.news p {
    width: 280px;
    margin: 0;
}
/* .mailing {
    display: flex;
    width: 560px;
    min-height: 220px;
    background-image: url(../img/Post-background.png);
    background-repeat: no-repeat; 
    z-index: 1;
} */
.mailing-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing:border-box;
    width: 549px;
    min-height: 220px;
    background-color: #f8f7f4;
    border: 5px solid #f8f7f4;
    border-image: url(../img/Post-background.png);
    padding: 21px;

}
.mailing-form p {
    display: inline-block;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    width: 506px;
    min-height: 61px;
}
.mailing-wrap {
    display: flex;
    justify-content: space-between;
}
.mailing-wrap input {
    width: 368px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    padding-left: 10px;
}
.map {
    width: 1200px;
    min-height: 430px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
    z-index: 0;
}
.pin {
    position: absolute;
    width: 80px;
    height: 140px;
    background-image: url(../img/Pin.png);
    z-index: 2;
    left: 310px;
    bottom: 150px;
}
.shadow {
    position: absolute;
    width: 182px;
    height: 110px;
    background-image: url(../img/Pin-shadow.png);
    left: 345px;
    bottom: 150px;
}
.red-button.send {
    display: inline-block;
    padding: 8px 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}
.contacts {
    width: 302px;
    min-height: 305px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    position: absolute;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    right: 25px;
    top: 65px;
}
.contacts span {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    width: 175px;
    margin: 0;
    padding: 0;
}
.adress {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    width: 220px;
    margin: 0;
    padding: 0;
}
.contacts a {
    text-decoration: none;
    color: #323232;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
.red-button.form {
    display: inline-block;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}
.main-footer {
    height: 103px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    padding: 18px;
}
.social {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.8;
}
.footer-about {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 310px;
    justify-content: space-between;
}
.footer-about ul {
    margin: 0;
    padding: 0;
}
.footer-about a {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.footer-about .love {
    font-weight: bold;
    position: relative;
}
.love::before{
    content: " ";
    width: 15px;
    height: 13px;
    background-image: url(../img/Icons/Heart.svg);
    position: absolute;
    left: -20px;
    bottom: 1px;
}
.social-link svg{
    width: 32px;
    height: 32px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin-right: 11px;
}
.copyright {
    width: 200px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.copyright span {
    display: inline;
    font-size: 13px;
    line-height: 18px;
    color: #fefefe;
    white-space: nowrap;
}
.made-by {
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
    font-size: 13px;
    line-height: 18px;
    color: #fefefe;
}
